# /* ------------------------------------------------------------------------------------------------------------------------------------------------------------ 

#     Universidade Federal De Viçosa - Campus Florestal
#     Trabalho prático 0 - Disciplina CCF 330 - PROJETO E ANÁLISE DE ALGORITMOS
    
#       Professor responsável: 
#           Daniel Mendes Barbosa 

#       Aluno responsável:
#           João Lobo - 4693

# ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

*.out
*.exe
*.gch